Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Werkzeug==3.0.3
python-dotenv==1.0.1
Pillow==10.3.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
WTForms==3.1.2
flask
flask-login
flask-sqlalchemy
flask-wtf
numpy
opencv-python-headless
Pillow
python-dotenv
werkzeug
gunicorn
